{% extends "base.html" %} {% block title %}Panel opiekuna{% endblock title %} {% block content %}
<section>
	<div class="container inner">
		<div class="row">
			{% include "panel/manager/nav.html" %}
			<div class="col-md-12 mx-auto post" style="padding-top: 70px;">
				<div class="row">
					{% for module in module_list %}
					<div class="col-md-4">
						<div class="card-header blue-bg">
							<h3>{{ module.name }}</h3>
						</div>
						<div class="card dark-bg">
							<div class="card-body">
								<div class="row">
									<div class="col-md-12">
										<a
											href="{% url 'panel:manager-module' server_tag=server_tag module_tag=module.tag%}"
											class="btn btn-success d-block justify-content-center"
											>Wybieram</a
										>
									</div>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock content %}
