<div class="col-md-12">
    <ul class="nav nav-tabs">
        <li class="nav-item dropdown">
            <a {% if request.path == url or request.path == url2 %} class="nav-link active dropdown-toggle" {% else %} class="nav-link dropdown-toggle"{% endif %} data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Serwery</a>
            <div class="dropdown-menu">
                {% for server in server_list %}
                    <a class="dropdown-item" href="{% url 'panel:manager-server' server_tag=server.tag %}">{{ server.name }}</a>
                {% endfor %}
            </div>
        </li>
        <li class="nav-item dropdown">
            <a {% if request.path == url or request.path == url2 %} class="nav-link active dropdown-toggle" {% else %} class="nav-link dropdown-toggle"{% endif %} data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Moduły</a>
            <div class="dropdown-menu">
                {% for module in module_list %}
                    <a class="dropdown-item" href="{% url 'panel:manager-module' server_tag=server_tag module_tag=module.tag%}">{{ module.name }}</a>
                {% endfor %}
            </div>
        </li>
</div>