{% extends "base.html" %} {% block title %}Panel opiekuna{% endblock title %} {% block content %}
<section>
	<div class="container inner">
		<div class="row">
			{% include "panel/manager/nav.html" %}
			<div class="col-md-12 mx-auto post" style="padding-top: 70px;">
				<div class="row">
					<form
						class="form"
						action="{% url 'panel:manager-module-delete' server_tag=server_tag module_tag=module_tag pk=module.id%}"
						method="post"
					>
						Czy napewno chcesz usunąc ten wpis? {% csrf_token %}
						<input type="hidden" name="id" value="{{ module.id }}" />
						<button class="btn btn-danger" type="submit">Tak, usuń</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock content %}
