{% extends "base.html" %} {% block title %}Panel opiekuna{% endblock title %} {%block content %}
<section>
	<div class="container inner">
		<div class="row">
			{% include "panel/manager/nav.html" %}
			<div class="col-md-12 mx-auto post" style="padding-top: 70px;">
        {% if module_tag == 'ccc' %} 
            {% include "panel/manager/module/ccc/index_table.html" %} 
          {% elif module_tag == 'store-players' %} 
            {% include "panel/manager/module/store-players/index_table.html" %} 
          {% elif module_tag == 'admins' %}
						{% include "panel/manager/module/admins/index_table.html" %} 
					{% elif module_tag == 'admins-groups' %}
						{% include "panel/manager/module/admins-groups/index_table.html" %} 
					{% else %}
          <h1 class="text-center">Nie znaleziono modułu</h1>
        {% endif %} {% include "pagination.html" %}
			</div>
		</div>
	</div>
</section>
{% endblock content %}
