<div class="row">
    <div class="col-md-12 text-center">
        <h1>Dołącz do naszej społeczności juz teraz!</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="card dark-bg community-card">
            <div class="card-body">
                <div class="card-text text-light text-center">
                    <i class="fab fa-steam-square"></i>
                    <h3>Grupa Steam</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card dark-bg community-card">
            <div class="card-body">
                <div class="card-text text-light text-center">
                    <i class="fab fa-discord"></i>
                    <h3>Discord</h3>
                </div>
            </div>
        </div>
    </div>
</div>