{% extends "base.html" %} {% block title %}Portfel{% endblock title %} {% load float %} {% block content %}
{% comment %}
<section>
		<div class="container inner">
			<div class="row">
				<div class="col-md-12">
					{% if messages %} {% include "messages.html" %} {% endif %}
					<div class="card light-bg">
						<div class="card-header blue-bg">
							{% include "accounts/nav.html" %}
						</div>
						<div class="card-body text-center">
							{% if payment == 'sms' %}
							<h2 class="card-title">Doładuj porfel za pomocą SMS</h2>
							<h4>Wybierz kwote doładowania</h4>
							<form action="{% url 'accounts:wallet-add' payment='sms'%}" method="post">
								{% csrf_token %}
								{{form}}
								<button class="btn btn-primary" type="submit">Wybieram</button>
							</form>
							{% elif payment == 'promotion_code' %}
							<h2 class="card-title">Doładuj porfel za pomocą kodu promocyjnego</h2>
							<form
								action="{% url 'accounts:wallet-success' payment='promotion_code' %}"
								method="post"
							>
								<div class="form-group">
									<label for="code">Kod Promocyjny</label>
									<input
										class="form-control"
										id="code"
										name="code"
										placeholder="Wpisz tutaj kod promocyjny"
									/>
								</div>
								{% csrf_token %}
								<button class="btn btn-primary">Doładuj</button>
							</form>
							{% else %}
							<h1>Nie znaleziono strony</h1>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
</section>
{% endcomment %}
<section>
	<div class="container inner">
		<div class="row">
			<div class="col-md-12">
				{% if messages %} {% include "messages.html" %} {% endif %}
				<div class="card light-bg">
					<div class="card-header blue-bg">
						{% include "accounts/nav.html" %}
					</div>
					<div class="card-body text-center">
						{% if payment == 'sms' %}
							<h2 class="card-title">Doładuj porfel za pomocą SMS</h2>
							<h4>Wybierz kwote doładowania</h4>
							<form action="{% url 'accounts:wallet-payment-finish' payment='sms'%}" method="post">
								{% csrf_token %}
								{{form}}
								<button class="btn btn-success" type="submit">Wybieram</button>
							</form>
						{% elif payment == 'promotion_code' %}
							<h2 class="card-title">Doładuj porfel za pomocą kodu promocyjnego</h2>
							<h4>Wpisz kod promocyjny</h4>
							<form action="{% url 'accounts:wallet-success' payment='promotion_code'%}" method="post">
								{% csrf_token %}
								{{form}}
								<button class="btn btn-success" type="submit">Doładuj</button>
							</form>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
