{% extends "base.html" %}
{% block title %}Centrum użytkownika{% endblock title %}
{% block content %}
<section>
    <div class="container inner">
        <div class="row">
            {% include "user_centrum/nav.html" %}
            <div class="col-md-12 mx-auto post" style="padding-top: 70px;">
                <h3 class="text-center">Edytuj podanie</h3>
                <div class="row">
                    <div class="col-md-12">
                        <form method="post">
                            {% csrf_token %}
                            {{form.as_p}}
                            <div class="btn-group" role="group">
                                <a href="{% url 'centrum:application-detail' pk=application.pk%}" class="btn btn-secondary">Cofnij</a>
                                <button type="submit" class="btn btn-success">Zapisz</button>
                                <a href="{% url 'centrum:application-delete' pk=application.pk%}" class="btn btn-danger">Usuń</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}